---
openapi: "3.0.0"
info:
  version: 1.0.0
  title: Eclipse Marketplace Client API v2
  license:
    name: Eclipse Public License - 2.0
    url: https://www.eclipse.org/legal/epl-2.0/
  
servers:
- url: http://marketplace.eclipse.org/api/v2
  description: Production endpoint for Eclipse Marketplace API

paths:
  /listings:
    get: 
      summary: Multiple listings
      parameters:
        - $ref: "#/components/parameters/product.version"
        - $ref: "#/components/parameters/runtime.version"
        - $ref: "#/components/parameters/java.version"
        - $ref: "#/components/parameters/os"
        - $ref: "#/components/parameters/locale"
        - name: marketID
          in: query
          description: "The ID of the market to search in for listings"
          required: false
          schema:
            $ref: "#/components/schemas/ObjectID"
        - name: categoryID
          in: query
          description: "The ID of the category to search in for listings"
          required: false
          schema:
            $ref: "#/components/schemas/ObjectID"
        - name: licenseType
          in: query
          description: | 
            Optional query parameter to filter the results by license type.
            The result will be a union of all included license types. 
            Valid values include:
            
            * COMMERCIAL 
            * OPEN_SOURCE 
            * EPL
            * EPL 1.0  
            * EPL 2.0  
            * GPL  
          required: false
          schema:
            $ref: "#/components/schemas/licenseType"
          style: form
          explode: true
        - name: sort
          in: query
          description: Optional query parameter to sort the resulting listings. This sort will be performed based on the field name passed, leaving the values unsorted if there is no field name that matches
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: Optional query parameter to order the resulting listings. This sort will be performed based on the field name passed, leaving the values unsorted if there is no field name that matches
          required: false
          schema: 
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listings"
        500:
          description: Error while retrieving data
    put:
      summary: Update or post a new listing by ID
      requestBody:
        description: The listing to be updated or inserted into the data set.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Listing"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        201:
          description: Success (no content)
        500:
          description: Error while inserting data

  /listings/{listingID}:
    parameters:
      - name: listingID
        in: path
        description: Unique ID of an individual listing
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
      - $ref: "#/components/parameters/product.version"
      - $ref: "#/components/parameters/runtime.version"
      - $ref: "#/components/parameters/java.version"
      - $ref: "#/components/parameters/os"
      - $ref: "#/components/parameters/locale"
    get:
      summary: Listing by ID
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        404:
          description: No listing found
        500:
          description: Error while retrieving data
          
  /catalogs:
    get:
      summary: Multiple catalogs
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalogs"
        500:
          description: Error while retrieving data
    put:
      summary: Update or post a new catalog by ID
      requestBody:
        description: The catalog to be updated or inserted into the data set.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Catalog"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        201:
          description: Success (no content)
        500:
          description: Error while inserting data

  /catalogs/{catalogId}:
    parameters:
      - name: catalogId
        in: path
        description: Unique ID of an individual catalog
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      summary: Catalog by ID
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        404:
          description: No catalog found
        500:
          description: Error while retrieving data

  /markets:
    get:
      summary: Multiple markets
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Markets"
        500:
          description: Error while retrieving data
    put:
      summary: Update or post a new market by ID
      requestBody:
        description: The market to be updated or inserted into the data set.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Market"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        201:
          description: Success (no content)
        500:
          description: Error while inserting data

  /markets/{marketID}:
    parameters:
      - name: marketID
        in: path
        description: Unique ID of an individual market
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      summary: Markets by ID
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        500:
          description: Error while retrieving data
          
  /markets/{marketID}/categories/{categoryID}:
    parameters:
      - name: marketID
        in: path
        description: Unique ID of an individual market
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: categoryID
        in: path
        description: Unique ID of an individual category for market
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      summary: Category in context of market
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        500:
          description: Error while retrieving data

  /categories:
    get:
      summary: Multiple categories
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categories"
        500:
          description: Error while retrieving data
    put:
      summary: Update or post a new category by ID
      requestBody:
        description: The market to be updated or inserted into the data set.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Category"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        201:
          description: Success (no content)
        500:
          description: Error while inserting data
          
  /categories/{catagoryID}:
    parameters:
      - name: catagoryID
        in: path
        description: Unique ID of an individual catalog
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      summary: Catagory by ID
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        404:
          description: Not found
        500:
          description: Error while retrieving data

  /featured:
    parameters:
      - $ref: "#/components/parameters/product.version"
      - $ref: "#/components/parameters/runtime.version"
      - $ref: "#/components/parameters/java.version"
      - $ref: "#/components/parameters/os"
      - $ref: "#/components/parameters/locale"
    get:
      summary: Featured listings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  listings:
                    $ref: "#/components/schemas/Listings"

components:
  parameters:
    product:
      name: product
      in: query
      description: The product id of the target Eclipse, e.g. org.eclipse.sdk.ide or epp.package.java
      required: false
      schema:
        type: string
    product.version:
      name: product.version
      in: query
      description: The version of the running product of the target Eclipse, identical to the version of the product's branding plugin
      required: false
      schema:
        $ref: "#/components/schemas/osgiVersion"
    runtime.version:
      name: runtime.version
      in: query
      description: The version of the org.eclipse.core.runtime bundle of the target Eclipse
      required: false
      schema:
        $ref: "#/components/schemas/osgiVersion"
    java.version:
      name: java.version
      in: query
      description: The version of the JRE running the target Eclipse, as returned by the JRE's `System.getProperty("java.version")`
      required: false
      schema:
        type: string
    os:
      name: os
      in: query
      description: |
        Operating system of the user.

        Supported values include: 
        
        * linux  
        * win32  
        * macosx
      required: false
      schema:
        type: string
    locale:
      name: locale
      in: query
      description: Language code of the user's locale, e.g. `en_US` or `de_DE`.
      required: false
      schema:
        type: string

  schemas:
    Listing:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ObjectID"
        name:
          type: string
          description: Listing Title
        categories:
          type: array
          items: 
            $ref: "#/components/schemas/Category"
          description: Array of categories in which this listing appears.
        tags:
          type: array
          items: 
            $ref: "#/components/schemas/Tag"
          description: Array of tags that this listing appears.
        owner:
          type: string
          description: Name of the author
        favorited:
          type: integer
          description: Number of times a listing was favorited
        installstotal:
          type: integer
          description: Install count
        installsrecent:
          type: integer
          description: Install count for the last month
        shortdescription:
          type: string
          description: Listing teaser
        body:
          type: string
          description: Full description
        created:
          type: integer
          description: Timestamp
        changed:
          type: integer
          description: Timestamp
        foundationmember:
          type: boolean
          description: TRUE/FALSE
        homepageurl:
          type: string
          description: Listing URL website
        image:
          type: string
          description: Logo absolute URL
        license:
          type: string
          description: Listing license
        companyname:
          type: string
          description: Company name
        status:
          type: string
          description: Release status
        supporturl:
          type: string
          description: Support/documentation URL
        version:
          type: string
          description: Version name
        eclipseversion:
          type: number
          format: float
          description: Eclipse release number (4.5, 4.4...)
        updateurl:
          type: string
          description: Update site URL
        ius:
          type: array
          items:
            type: object
            description: Feature ID's are used by the Eclipse Marketplace Client (MPC) to determine which features to install for your listing https://marketplace-staging.eclipse.org/feature-how-to
            properties:
              required:
                type: string
                description: TRUE or FALSE
              selected:
                type: string
                description: TRUE or FALSE
        platforms:
          type: array
          items:
            type: string
            description: Compatible OS (Windows, Mac, Linux/GTK)

    Listings:
      type: array
      items: 
        $ref: "#/components/schemas/Listing"

    Tag:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ObjectID"
        name:
          type: string
          description: Tag Title
        URL:
          type: string
          description: URL to retrieve the tag details.

    Categories:
      type: array
      items: 
        $ref: "#/components/schemas/Category"
        
    Category:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ObjectID"
        name:
          type: string
          description: Category title
        URL:
          type: string
          description: URL to retrieve the category details.
        marketIDs: 
          type: array
          items:
            $ref: "#/components/schemas/ObjectID"

    Market:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ObjectID"
        name:
          type: string
          description: Listing Title
        URL:
          type: string
          description: URL to retrieve the category details.
        categories:
          type: array
          items: 
            $ref: "#/components/schemas/Category"
          description: Array of categories that this market makes use of

    Markets:
      type: array
      items:
        $ref: "#/components/schemas/Market"
        
    ObjectID:
      description: Unique identifier for an addressable object in the API.
      type: integer
      format: int32
      minimum: 1           

    Catalogs:
      type: array
      items:
        $ref: "#/components/schemas/Catalog"

    Catalog:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ObjectID"
        title:
          type: string
          description: Name of catalog
        url:
          type: string
          description: Url prefix of the marketplace catalog
        selfContained:
          type: boolean
          description: TRUE/FALSE
        icon:
          type: string
          description: Absolute url
        description:
          type: string
          description: Short description
        dependenciesRepository:
          type: string
        searchtab:
          type: boolean
          description: TRUE/FALSE 
        populartab:
          type: boolean
          description: TRUE/FALSE 
        recenttab:
          type: boolean
          description: TRUE/FALSE 
        news:
          type: boolean
          description: TRUE/FALSE

    licenseType:
      type: string
      enum:
        - COMMERCIAL # Includes all commercial license types
        - OPEN_SOURCE # Includes all open source license types
        - EPL # Includes all versions of EPL
        - EPL 1.0
        - EPL 2.0
        - GPL

    osgiVersion:
      type: number
      format: float
      description: Describes the version of OSGi the given platform is using